# 简单股票选择

In [20]:
import sys
sys.path.insert(0, '../qtrader/qtrader')

import pandas as pd
from AData import SHSZData, SHSZSelection

DATA_FOLRDER = '../data/SHSZ'

CODE='000820'

manager = SHSZData(DATA_FOLRDER)
df = manager.get_d(CODE)
df[-30:].head()
#selectionManager = SHSZSelection(DATA_FOLRDER, s1, ['600000', '600001'])

            date   open  close   high    low   volume   code
3739  2017-06-21  37.82  37.49  38.01  37.05  26368.0  820.0
3740  2017-06-22  37.50  37.47  37.74  37.20  25927.0  820.0
3741  2017-06-23  37.30  37.90  37.92  36.93  30625.0  820.0
3742  2017-06-26  38.00  37.89  38.00  37.39  20491.0  820.0
3743  2017-06-27  38.76  38.64  39.73  38.10  34981.0  820.0

In [25]:
def sel(code, df):
    if df.shape[0] < 31:
        return None
    change = (df.iloc[-1]['close'] / df.iloc[-30]['close'] - 1) * 100
    return pd.DataFrame({'change': change}, index=[code])

c_df = sel('000820', df)
c_df.head()

           change
000820 -64.177114

In [26]:
select = SHSZSelection(DATA_FOLRDER, sel)
x = select.run()

In [28]:
x = x.sort_values(by='change')
x.tail()

            change
600588   87.962963
002925  130.171614
603056  138.295788
300738  153.982609
300624  207.363602